<html>
  <body>
    <app-nav-menu></app-nav-menu>
    <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="../../../src/assets/images/course-video.mp4" type="video/mp4" />
      </video>
    
      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                  <div class="caption">
                      <span class="title-content"><h6>Hello Students</h6></span>
                      <span class="title-content title-second"><h2>Welcome to Education</h2></span>
                      <div class="title-content title-third">
                          <ul>
                              <li>- Enroll Class</li>
                              <li>- Current Schedule</li>
                              <li>- Information</li>

                          </ul>
                      </div>
                      <div class="title-content title-fourth">
                          <div class="buttons">
                              <div class="main-button-blue">
                                  <div class="scroll-to-section"><a href="#contact">Enroll Class</a></div>
                              </div>
                              <div class="main-button-blue">
                                  <div class="scroll-to-section"><a href="#contact">Current Schedule</a></div>
                              </div>
                              <div class="main-button-blue">
                                  <div class="scroll-to-section"><a href="#contact">Information</a></div>
                              </div>
                          </div>
                      </div>
                      
                  </div>
                  <div class="caption-right">
                      <a href="https://www.okcu.edu"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/29/Oklahoma_City_University_seal.svg/800px-Oklahoma_City_University_seal.svg.png" /></a>
                  </div>
                  
              </div>
            </div>
          </div>
      </div>
    </section> 
  </body>
</html>
