<app-nav-menu></app-nav-menu>
<div>
  <h2>Enrollment</h2>
<table id="courses">
  <tr>
    <th>Course ID</th>
    <th>Course Name</th>
    <th>Instructor ID</th>
    <th>Instructor First</th>
    <th>Instructor Last</th>
    <th>Instructor Email</th>
  </tr>
  <tr *ngFor="let item of courseArray">
    <td>{{ item.courseID }}</td>
    <td>{{ item.courseName }}</td>
    <td>{{ item.instructorID }}</td>
    <td>{{ item.instructorFirst }}</td>
    <td>{{ item.instructorLast }}</td>
    <td>{{ item.instructorEmail }}</td>
  </tr>
</table>
</div>

<div>
  <h2>Faculty</h2>
<table id="faculty">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Postion</th>
    <th>Major</th>
  </tr>
  <tr *ngFor="let item of professorArray">
    <td> {{ item.id }}</td>
    <td> {{ item.firstName }}</td>
    <td> {{ item.lastName }}</td>
    <td> {{ item.email }}</td>
    <td> {{ item.position }}</td>
    <td> {{ item.major }}</td>
  </tr>
</table>
</div>
<div>
  <h2>Students</h2>
<table id="students">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Major</th>
  </tr>
  <tr *ngFor="let item of studentsArray">
    <td> {{ item.studentID }}</td>
    <td> {{ item.firstName }}</td>
    <td> {{ item.lastName }}</td>
    <td> {{ item.email }}</td>
    <td> {{ item.major }}</td>
  </tr>
</table>
</div>




<!-- <h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table> -->
