<app-nav-menu></app-nav-menu>
<div>
  <h2>Courses</h2>
<table id="courses">
  <tr>
    <th>Course ID</th>
    <th>Course Name</th>
    <th>Instructor ID</th>
    <th>Instructor First</th>
    <th>Instructor Last</th>
    <th>Instructor Email</th>
  </tr>
  <tr *ngFor="let item of courseArray">
    <td><input type="text" value="{{ item.courseId }}" #id></td>
    <td><input type="text" value="{{ item.courseName }}" #name></td>
    <td><input type="text" value="{{ item.instructorId }}" #inId></td>
    <td><input type="text" value="{{ item.instructorFirst }}" #inFirst></td>
    <td><input type="text" value="{{ item.instructorLast }}" #inLast></td>
    <td><input type="text" value="{{ item.instructorEmail }}" #inEmail></td>
    <td><button id="courseDel" (click)="deleteCourse(item)">Delete</button></td>
    <td><button id="courseUpd" (click)="updateCourse(item, id.value, name.value, inId.value, inFirst.value, inLast.value, inEmail.value)">Update</button></td>
  </tr>
</table>
</div>

<div>
  <h2>Faculty</h2>
<table id="faculty">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Postion</th>
    <th>Major</th>
  </tr>
  <tr *ngFor="let item of professorArray">
    <td><input type="text" value="{{ item.id }}" #id></td>
    <td><input type="text" value="{{ item.firstName }}" #first></td>
    <td><input type="text" value="{{ item.lastName }}" #last></td>
    <td><input type="text" value="{{ item.email }}" #email></td>
    <td><input type="text" value="{{ item.position }}" #position></td>
    <td><input type="text" value="{{ item.major }}" #major></td>
    <td><button id="profDel" (click)="deleteProf(item)">Delete</button></td>
    <td><button id="profUpd" (click)="updateProf(item, id.value, first.value, last.value, email.value, position.value, major.value)">Update</button></td>
  </tr>
</table>
</div>
<div>
  <h2>Students</h2>
<table id="students">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Major</th>
  </tr>
  <tr *ngFor="let item of studentsArray">
    <td><input type="text" value="{{ item.studentId }}" #id></td>
    <td><input type="text" value="{{ item.firstName }}" #first></td>
    <td><input type="text" value="{{ item.lastName }}" #last></td>
    <td><input type="text" value="{{ item.email }}" #email></td>
    <td><input type="text" value="{{ item.major }}" #major></td>
    <td><button id="stuDel" (click)="deleteStu(item)">Delete</button></td>
    <td><button id="stuUpd" (click)="updateStu(item, id.value, first.value, last.value, email.value, major.value)">Update</button></td>
  </tr>
</table>
</div>




<!-- <h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table> -->
