.form {
    align-content: center;
    align-items: center;
    padding-left: 43%;
    padding-top: 5%;
}

.loginImage{
    width: 210px;
    height: 210px;

}

.textField{
    border-radius: 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*.buttons {
    margin: 10%;
    text-align: center;
}*/

.btn-blue {
    border: none;
    font-size: 13px;
    color: #fff;
    background-color: #1338BE;
    padding: 12px 25px;
    display: inline-block;
    border-radius: 22px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
}

.LoginBtns{
    position: absolute;
    padding-left: 30px;
}
