<body>
    <div class="form">
        <div class="section-heading">
            <h2>Login</h2>
            <div>
                <img class="loginImage" src="https://www.okcu.edu/uploads/administration/communications/brand/primary-logo-vertical.jpg" />
            </div>

        </div>
        <ng-form name="formLogin">
            <input class="textField" type="text" name="username" placeholder="username" [(ngModel)]="logInfo.username">
            <br>
            <br>
            <input class="textField" type="text" name="password" placeholder="password" [(ngModel)]="logInfo.password">
            <br>
            <br>
        </ng-form>

        <div class="LoginBtns">
            <!-- HTML ! -->
            <button class="btn-blue" type="submit" (click)="submit()">Student Login</button>
            <br>
            <br>
            <button class="btn-blue" id="facultyLogin" (click)="faculty()">Faculty Login</button>
        </div>
    </div>
</body>